.userSection {
  height: 91.5vh;
  border-right: 2px solid var(--background);
  z-index: 5;
  padding: 0;
  position: relative;
}
.User:hover {
  cursor: pointer;
}
.ChatSection {
  position: relative;
  padding: 0;
}
.ShowUsers > .user {
  color: white;
}
.User {
  border-top: 2px solid var(--background);
  border-bottom: 2px solid var(--background);
  padding: 1rem;
}
.User > div > div {
  padding-left: 1rem;
}
.InputText {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 99%;
  height: 5.6vh;
}
.InputText > input {
  width: 100%;
  height: 100%;
  outline: none;
}
.InputText > .Send > svg {
  color: white;
}
.InputText > .Send {
  height: 100%;
  padding: 0 1rem;
  cursor: pointer;
  /* width: 100%; */
  background-color: var(--background);
}
.messageStyle {
  padding-right: 1.5rem;
  position: relative;
}
.active {
  background-color: var(--background);
  padding: 0.3rem 0.8rem;
  color: white;
  border-radius: 10px;
}
.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.UserName {
  background-color: #03a9f42e;
  padding: 1rem;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.Add-user {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.ShowUsersDiv {
  position: absolute;

  width: 100vw;
  height: 100vh;
  background-color: #9e9e9e63;
  z-index: 11111;
}
.ShowUsers {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #03a9f463;
  width: 100%;
  padding: 0;
}
